<!-- CSS Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/user/signup" method="post">
    <fieldset>
      <h3>New User</h3>
      <label>USERNAME: <input type="text" name="username" required /> </label>
      <label>PASSWORD: <input type="password" name="password" required /></label>
      <a href="/user/login">Login</a>
      <input type="submit" value="Create Account" />
    </fieldset>
  </form>
</div>
{% endblock %}