{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/user/login" method="post">
    <fieldset>
      <h3>Login</h3>
      <label>USERNAME: <input type="text" name="username" required /> </label>
      <label
        >PASSWORD: <input type="password" name="password" required />
      </label>
      <input type="submit" value="Login" />
    </fieldset>
  </form>
</div>
{% endblock %}